# Environment and secrets
.env
*.env
secrets.json

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Data
data/raw/*

!data/raw/.gitkeep
 
# Ignore processed artifacts
data/processed/*

# Track feature store outputs
!data/feature_store/
!data/feature_store/**