# Environment and secrets
.env
*.env
secrets.json

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Data
data/raw/*

!data/raw/.gitkeep
 
# Ignore processed artifacts
data/processed/*

# Ignore feature store outputs
data/feature_store/**

# Allow committing the parquet feature table for deployment
!data/feature_store/
!data/feature_store/parquet/
!data/feature_store/parquet/aqi_features/**

